*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
:root {
  --bg-primary: #eeeeee;
  --bg-secondary: #191919;
  --bg-orange6: #66350c;
  --text-color: #fff;
  --black-color: #000;
  --text-color-secondary: #282a39;
  --text-color-primary: #2a2a2a;
  --low-contrast: #2a2a2a;
}
body {
  background: var(--bg-primary);
  overflow-x: hidden;
}

em {
  font-style: normal;
  font-weight: 900;
  text-decoration: underline;
  text-underline-offset: 2px;
}

/** HEADER **/

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.header-content {
  margin-top: 32px;
  width: 100%;
}

.header-content p {
  font-family: "Montserrat", sans-serif;
  margin-top: 16px;
  margin-left: 24px;
  margin-bottom: 8px;
  color: var(--text-color-secondary);
  font-size: 16px;
}

.header-content h1,
h2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  margin-left: 24px;
  font-weight: 900;
  color: var(--text-color-primary);
  font-size: 40px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@media screen and (min-width: 744px) {
  header {
    height: 100vh;
  }
  .background-line {
    top: 125px;
    left: 180px;
  }
  .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 0;
  }
  .header-content .content-text p {
    margin-bottom: 16px;
    margin-left: 32px;
    color: var(--text-color-secondary);
    font-size: 20px;
  }
  .header-content h1,
  h2 {
    margin-left: 32px;
    color: var(--text-color-primary);
    font-size: 64px;
  }
  .header-content .social-media a img {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .header-content .content-text p {
    font-size: 24px;
    margin-left: 40px;
    width: 85%;
  }
  .header-content h1,
  h2 {
    font-size: 96px;
  }
  .social-media a:hover {
    background: var(--text-color-secondary);
    transition: 0.5s ease-in-out;
  }
}

/** MENU BURGER **/

#menuIcon {
  width: 60px;
  border-radius: 50%;
  position: fixed;
  top: 30px;
  right: 10px;
  cursor: pointer;
  z-index: 100;
}

.menu-box {
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-bottom-left-radius: 100%;
  transition: width 0.5s, height 0.5s, border-radius 0.5s;
}

.menu-box.open-menu {
  width: 100%;
  height: 100vh;
  border-bottom-left-radius: 0;
}

.menu-box.open-menu ul li {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s, transform 1s;
  transition-delay: 0.5s;
}

.menu-box ul li {
  list-style: none;
  margin: 20px;
  text-align: center;
  opacity: 0;
  transform: translateY(30px);
}

.menu-box ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0 0 0 var(--low-contrast);
  transition: text-shadow 0.5s, transform 0.5s;
}

.menu-box ul li a:hover {
  text-shadow: -3px -3px 0 var(--low-contrast);
  transform: translateY(-6px);
}

.menu-box ul li a:after {
  content: "";
  width: 10px;
  height: 10px;
  background: white;
  position: absolute;
  border-radius: 50%;
  bottom: 19px;
  right: -18px;
  opacity: 0;
  box-shadow: 0 0 0 var(--low-contrast);
  transition: box-shadow 0.5s;
}

.menu-box ul li a:hover:after {
  opacity: 1;
  box-shadow: -2px -2px 0 var(--low-contrast);
}

@media screen and (min-width: 744px) {
  #menuIcon {
    width: 60px;
    top: 50px;
    right: 40px;
  }
  .menu-box ul li a {
    font-size: 40px;
  }
}

/** A PROPOS **/

#propos {
  display: flex;
  flex-direction: column;
}

#propos h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 24px;
  color: var(--text-color-primary);
  text-transform: uppercase;
  margin-top: 56px;
  margin-bottom: 16px;
}

.content-propos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.text-propos {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.text-propos p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--text-color-secondary);
  margin-top: 16px;
  margin-bottom: 8px;
  text-align: center;
  width: 80%;
}

.content-propos .text-propos a {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: var(--text-color-secondary);
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  border: var(--bg-secondary) 2px solid;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 2px 32px;
  border-radius: 16px;
  display: flex;
  align-items: center;
}
.text-propos a img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.img-pp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-pp img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 16px;
  object-fit: cover;
}

@media screen and (min-width: 744px) {
  #propos h3 {
    font-size: 32px;
  }
  .content-propos {
    flex-direction: row;
    gap: 32px;
  }
  #propos p {
    font-size: 16px;
    width: 50%;
  }
  .text-propos a {
    font-size: 24px;
  }
  .img-pp {
    margin-right: 75px;
  }
  .img-pp img {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 1024px) {
  .content-propos {
    flex-direction: row;
    gap: 32px;
  }
  #propos h3 {
    font-size: 42px;
  }
  #propos p {
    font-size: 24px;
    width: 50%;
  }
  .text-propos a {
    font-size: 24px;
  }
  .text-propos a:hover {
    background: var(--text-color-secondary);
    transition: 0.5s ease-in-out;
    color: var(--bg-primary);
  }
  .img-pp img {
    width: 250px;
    height: 250px;
    margin-left: 40px;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .img-pp img:hover {
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

/** MES COMPETENCES **/

#competences {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#competences h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 24px;
  color: var(--text-color-primary);
  text-transform: uppercase;
  margin-top: 56px;
  margin-bottom: 16px;
}

#competences p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--text-color-secondary);
  margin-top: 16px;
  margin-bottom: 8px;
  text-align: center;
  width: 90%;
}

.competences-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.competences-container h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: var(--bg-primary);
  text-transform: uppercase;
  margin-top: 24px;
  letter-spacing: 2px;
  text-align: center;
}

.competences {
  background: var(--bg-secondary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 80%;
  height: 350px;
  margin-top: 16px;
  padding: 16px;
}

.competences-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  gap: 16px;
}

.competences-front-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
}

.competences-front-item img {
  width: 30px;
  height: 30px;
}

.competences-front-item h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--bg-primary);
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 744px) {
  #competences {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #competences h3 {
    font-size: 32px;
  }
  #competences p {
    width: 70%;
  }
  .competences-container {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
  .competences-container h4 {
    margin-left: 0;
    text-align: center;
    margin-top: 32px;
  }
  .competences {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .competences-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
  }
  .competences-front-item {
    margin-top: 0px;
    gap: 8px;
  }
}

@media screen and (min-width: 1024px) {
  #competences {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #competences p {
    width: 60%;
  }
  #competences h3 {
    font-size: 42px;
  }
  .competences {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 20vw;
  }
}

/** MES PROJETS **/

#projets h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 900;
  font-size: 24px;
  color: var(--text-color-primary);
  text-transform: uppercase;
  margin-top: 56px;
  margin-bottom: 16px;
}

.slides {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  gap: 16px;
}

.slide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 16px;
  width: 90%;
}

.slide-container img {
  width: 100%;
  height: 200px;
  border-radius: 16px;
  object-fit: cover;
}

@media screen and (min-width: 744px) {
  #projets h3 {
    font-size: 32px;
  }
  .slide-img img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  .slide-img i {
    font-size: 24px;
  }
  .slide-content p {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  #projets h3 {
    font-size: 42px;
    text-align: start;
    margin-left: 56px;
  }
  .slides {
    justify-content: start;
    flex-direction: row;
    margin-left: 56px;
    width: 100%;
  }
  .slides .img-projet {
    width: 100%;
    height: 400px;
  }
  .slide-container {
    min-width: 60vw;
    height: 100%;
    margin-right: 10vw;
  }
}

/** CONTACT**/

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 900;
  font-size: 24px;
  color: var(--text-color-primary);
  text-transform: uppercase;
  margin-top: 56px;
}
#contact p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--text-color-secondary);
  margin-top: 16px;
  margin-bottom: 8px;
  text-align: center;
  width: 90%;
}
.social-media {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 16px;
  margin-left: 24px;
  gap: 8px;
}
.social-media a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: var(--bg-secondary);
  padding: 8px 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
}
.social-media a img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

@media screen and (min-width: 744px) {
  #contact h3 {
    font-size: 32px;
  }
  .social-media a img {
    width: 24px;
    height: 24px;
  }
}

/** FOOTER **/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
footer p {
  border-top: 1px solid var(--text-color-secondary);
  padding-top: 16px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--text-color-secondary);
  margin-top: 32px;
  margin-bottom: 32px;
}
